.main-form{
    margin: 30px 30px 0 270px;
}
#container_box{
    margin-left: 267px;   
    width: 81%;

}
.order_table th{
    background-color: #FFFFFF;
    font-family: Playfair Display;
    font-size: 15px;
    font-weight: 400;
    border: 0.3px solid #c9c9c9;
    color: #333;
    align-items: center;
}
.recipient-product{
    width: 25%;
}
/* .id-product{
    width: 3%;
}
.orderer-product{
    width: 17%;
}

.time-product{
    width: 11%;
}
.status-order{
    width: 22%;
} */
.nameofyou{
    font-family: Playfair Display;
    font-size: 15px;
    font-weight: 700;
}

.two_buttons {
    /* display: flex; */
}

.btnBrowser{
    margin-top: 12px;
    border: 1px solid #FF1493;
    background-color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-family: Playfair Display;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 1000px;
    margin: 1em 40px ;
}

.highcharts-figure text {
    font-size: 1.4rem !important;
}
.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2rem;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}