#container_box th{
    background-color: white;
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 400;
    border: 0.3px solid #c9c9c9;
    color: #333;
    align-items: center;
}
.name-product,
.pic-product,
.price-product,
.amount-product,
.payment {
    font-size: 2rem;
}

.img_prd {
    width: 200px;
}

.detail_name_product > a {
   text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

.detail_product-item {
    font-size: 1.8rem;
}

.total-payments{
    text-align: right;
}

.t-pay{
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 400;
}
.t-money{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600; 
    margin-left: 100px;
}
