@media (max-width: 63.9375em) {
    :root {
        --header-height: 100px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }

    .main__container,
    .main__form,
    .header {
        margin: 0;
    }

    .header__user {
        margin: 0 16px 0 0;
    }

    .header__mobile-icon,
    .header__mobile-btn {
        display: flex;
    }

    .header-text {
        font-size: 3.8rem;
    }

    .header__user-name {
        display: none;
    }

    .navbar__link {
        padding: 16px 32px;
    }

    .navbar__link span {
        font-size: 2.2rem;
    }
    
    .table-sm>:not(caption)>*>* {
        font-size: 2rem;
    }

    .btn-insert {
        padding: 12px;
        font-size: 2.8rem;
    }

    .image-img-mobile {
        display: block;
    }

    .zoomContainer {
        display: none;
    }

    .two_buttons a {
        display: block;
    }

    .btnBrowser {
        margin-bottom: 12px;
    }

    .t-money {
        margin-left: 60px;
    }

    .total-payments {
        text-align: left;
    }
}
